/* src:kevin:powell:: https://youtu.be/vncch9-1kPE */
/* Use `ctrl+space tab` to expand each abbrev. below... */
/* * Or you use your customized ctrl+e to expand emmet directly. */
/* 
    p → %
    e → em
    x → ex
  FYI: m1px this also auto completes to: `margin: 1px;`.
    
 */
 /* **************************8 */
 /* ? Official full length cheat sheet from emmet: https://docs.emmet.io/cheat-sheet/ */
 
* {
  fxw
  flex-wrap: nowrap;
  /* 🧸︎ (Flexbox wins! ~kevin powell) This is REALLY good say if you want your items in flex (row) to get stacked in multiple rows when you have given width to each item and they would just stack underneath of each other when the row is filled, awesome !  */
  
  gc
  grid-column: ;
  
  je
  justify-self: end;
  /* Grid */
  
  gtc
  grid-template-columns: repeat ( );

  gar
  grid-auto-rows: auto;

  gg
  grid-gap: ;

  ji
  justify-items: start;
	/* Used in Grid: ^^ You can have values like stretch (default), start, center, end. */

  ai
  align-items: start;
  /* Grid values (assigned to crossbow): stretch(default), start, end, center. */
  /* Flex values (assigned to crossbow): stretch(default), center, flex-start, flex-end, baseline. */
  
  as
  align-self: start;
  /* Grid, , Flex */
  
  ac:c
  align-content: center;
  
  m1
  margin: 1px;

  m3p
  margin: 3%;

  m2e
  margin: 2em;

  m3r
  margin: 3rem;

  m4e5e
  margin: 4em 5em;

  ml1
  margin-left: 1px;

  ml1:1
  margin-left: 1px 1px;

  
  ml:1:1
  margin-left: 1px 1px;
  
  m:1:auto
  margin: 1px auto;

  m1:auto
  margin: 1px auto;

  p0
  padding: 0;

  p2p
  padding: 2%;

  p2:3
  padding: 2px 3px;

  p2e:2e
  padding: 2em 2em;

  ma:5r
  max-width: 5rem;

  ta:l
  text-align: left;

  ta:c
  text-align: center;

  bd
  border: 1px solid #000;
  
  bd:2:solid:blue
  border: 2px solid blue;

  bc-red
  background-color: red;

  bg:red
  background: red;
  /* background is shorthand property, refer @ https://www.w3schools.com/css/css_background.asp */

 	bg:#23424A
  background-color: #23424A;

  fs:i
  font-style: italic;

  c:green
  color: green;

  c:red
  color: red;

  fz:1r
  font-size: 1rem;

  df
  display: flex;
  
  dg
  display: grid;

  fxd
  flex-direction: row;

  fxd:rr
  flex-direction: row-reverse;
  
  fxd:c
  flex-direction: column;

  p2r+w100p+ma75r+m0:auto
  padding: 2rem;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  
  fz.925r+p2e+m1e+bgc+c+df+fxd
  font-size: 0.925rem;
  padding: 2em;
  margin: 1em;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;

  fz.925r+p2e+m1e+bgc:red+c:black+df+fxd
  font-size: 0.925rem;
  padding: 2em;
  margin: 1em;
  background-color: red;
  color: black;
  display: flex;
  flex-direction: row;
}
