.target {
	height: 15vh;
	width: 100vw;
	color: white;
	display: grid;
	place-content: center;
}

// * Order of below pair1 and pair2 doesn't matter now.
// * Order inside the pair1/pair2 media queries still matters as it would in regular css.

// * pair1
@media (min-width: 400px) {
	.target {
		background: orange;
	}

	@media (min-width: 600px) {
		.target {
			background: red;
		}
	}
}

// * pair2
@media (max-width: 400px) {
	.target {
		background: green;
	}

	@media (max-width: 200px) {
		.target {
			background: purple;
		}
	}
}
