@use '../modules' as *;

body {
	// color: $gray;
	// ^^ todo:
	font-family: $ff-s;
	line-height: 1.6;
	background: $white;
	font-size: 0.875rem;
	overflow-x: hidden;

	// @media (min-width: 50em) {
	// 	font-size: 1.125em;
	// }

	@include mq {
		font-size: 1.125em;
	}
}

h1,
h2,
p {
	margin-top: 0;
	margin-bottom: 1em;
}

h1 {
	color: $accent;
	line-height: 1;
	font-size: 3.125rem;

	@include mq {
		font-size: 4.25rem;
	}
}

h2 {
	@include sans-serif($fs: 2rem);
	@include mq {
		font-size: 3rem;
	}
}

img {
	max-width: 100%;
}
