body {
  font-size: 1.8em;
}

.font1 {
  font-family: "Dela Gothic One", cursive;
}

.font2 {
  font-family: "Syne Mono", monospace;
}

.font3 {
  font-family: "Train One", cursive;
}

.font4 {
  font-family: "Lobster", cursive;
}

.font5 {
  font-family: "Tangerine", serif;
  text-shadow: 10px 10px 10px red;
}
.font6 {
  font-family: "Dancing Script", cursive;
}

.font7 {
  font-family: "Pacifico", cursive;
}

.font8 {
  font-family: "Indie Flower", cursive;
}
