$very-small: 200px;
$small: 400px;
$medium: 400px;
$large: 600px;

.target {
	height: 20vh;
	width: 100%;
	color: white;
	display: grid;
	place-content: center;
}

// * Order of below pair1 and pair2 doesn't matter now.
// * Order inside the pair1/pair2 media queries still matters as it would in regular css.

// * pair1
@media (min-width: $medium) {
	.target {
		background: orange;
	}

	@media (min-width: $large) {
		.target {
			background: red;
		}
	}
}

// * pair2
@media (max-width: $small) {
	.target {
		background: green;
	}

	@media (max-width: $very-small) {
		.target {
			background: purple;
		}
	}
}
