:root {
	color: white;
	background: black;
}
div {
	font-size: 2rem;
	letter-spacing: 10px;
	line-height: 15rem;
	text-align: center;
}

img {
	height: 50vh;
	aspect-ratio: 0.8;
	/* border: 2px solid red; */
	display: block;
	margin: 50px;
	border-radius: 10px;
	transition: transform ease 0.8s, opacity ease 1.5s;
	opacity: 0;
}

.slide {
	transform: translateX(150px);
	opacity: 1;
}
