*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
}
div {
	height: 100vh;
	width: 100vw;
	border: 6px solid blue;
	background: url('https://www.w3schools.com/css/img_flwr.gif'),
		url('https://www.w3schools.com/css/paper.gif');
	background-repeat: no-repeat, repeat;
	background-position: right bottom, left top;
	/* src of example: https://www.w3schools.com/css/tryit.asp?filename=trycss3_background_multiple */
}
