*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
}

img {
  max-width: 400px;
  /* max-width says `width` can not be more than 400px. */
  /* **** */
  /* TESTING: Use only one of below items at once... */
  /* width: 70%; */
  width: 10000px;
}
