:root {
  --clr-primary-200: #f3eed9;
  --clr-primary-400: #824936;
  --clr-neutral-100: #fff;
  --clr-neutral-900: #222c2a;

  --ff-primary: "Roboto", sans-serif;
  --ff-accent: "Playfair Display", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  /* font-weight: 100; */
  /* font-weight is like how bold you want the text to be...(min, max => 0, 1000) */
  line-height: 1.6;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  text-align: center;
}

h1,
h2,
h3 {
  color: var(--clr-primary-400);
  font-family: var(--ff-accent);
  font-weight: 900;
  line-height: 1;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

header,
section {
  padding: 3rem 0;
  /* SYNTAX: padding: up-down left-right; */
}

@media (min-width: 40rem) {
  header,
  section {
    padding: 7rem 0;
  }
}
.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
  /* order of values in min function doesn't matter, min function just keeps an eye whatever is minimum of all the values that you provided as arguments, yo!! */
  /* margin-inline is left and right margins. */
  /* margin-block would be top and bottom margins. */
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40rem) {
  .split {
    flex-direction: row;
  }
  .split > * {
    /* That selector means all direct children of split */
    flex-basis: 100%;
    /* So, flex-basis  */
  }

  .split > * + * {
    /* This above selector is adjacent item selector, that means that only second element will be selected. */
    margin-left: 2em;
    /* If i had "> * + * + *" as selector, then the third element will be selected, yo!! */
  }
}

.container--narrow {
  max-width: 34rem;
}

.bg-light {
  background-color: var(--clr-primary-200);
}
.bg-primary {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
}
.bg-dark {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

/* NOTE: <3 Below selector work no matter how nested the classes or tags are.. */
.bg-primary h2,
.bg-dark h2 {
  color: var(--clr-primary-200);
}

img {
  display: block;
  max-width: 100%;
  /* COMMENT * max-width specifies that they'll shrink if the area is small. */
}
