body {
	margin: 0;
}

.box {
	/*   position: absolute; */
	height: 9rem;
	width: 9rem;
	border: 2px solid orange;
}

.one {
	position: absolute;
	background: red;
	z-index: 10;
}

.two {
	position: absolute;
	background: green;
	margin-left: 3rem;
	margin-top: 3rem;
	z-index: -3;
	/* Default value of z-index is ``auto`` */
	/* Giving z-index value other than ``auto``(*also it must have position other than ``static``) will make it have a ``stacking context``.  */
	/* Since ``two`` is parent of ``three``, two having a stacking context will never allow its children to go behind two's layer. */
}
.three {
	background: purple;
	/*   left: 3rem; */
	/*   top: 3rem; */
	margin-left: 3rem;
	margin-top: 3rem;
	position: relative;
	z-index: -3;
	/* ^^^  Making it positive(or zero) will make purple to come in between green and green, yo! */
}
